
.container-styles {
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
  justify-content: space-evenly;
}
.list-item-styles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
